.App {
  margin: 20px;
  background-color: yellow;
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (max-width: 600px) {
  .App {
    margin: 20px;
    background-color: red;
    text-align: left;
  }
  input{
    width: 50%;
  }
} */

